/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img,
picture {
  width: 100%;
  display: block;
}

/*********** Global Styles ***********/

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Manrope', sans-serif;
  min-width: 300px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

h1, h2, h3, h4, h5, h6, p, button {
  font-family: 'Manrope', sans-serif;
  color: #4b4b4b
}

a:hover {
  color: inherit
}

.page-loading {
  height: 100vh;
  width: 100vw;
}

.loading-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff46;
}

/*********** Modals ***********/

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1300;
}

.modal-header,
.modal-footer {
  border-top: none;
  border-bottom: none;
}

.modal-content {
  width: 75%;
  max-width: 1000px;
  background-color: #fff;
  border: none;
  box-shadow: 0px 10px 25px 4px rgba(0, 0, 0, 0.25);
  max-height: 100vh;
  overflow: scroll;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 2em;
}

.modal-footer {
  gap: 1em;

}

.modal-button {
  background-color: #fff;
  border: none;
  color: #FF7E3D;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 5px 15px;
  font-weight: 800;
  letter-spacing: .05em;
  cursor: pointer;
  transition: 500ms;
}

.modal-button:hover {
  background-color: #ffe3d5;
  transition: 500ms;
}

.modal-button:active {
  background-color: #c0c0c0;
  color: #fff;
  transition: 500ms;
}

.modal-save {
  color: #fff;
  background-color: #FF7E3D;
}

.modal-save:hover {
  background-color: #ffc6a9;
}