#data-loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1300;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1em;
}

.table-header input {
    max-height: 30px;
}

.table-header h1 {
    margin: 0
}

.empty-table {
    width: 100%;
}

.empty-table p {
    text-align: center;
    margin: 30px;
}

.actions {
    display: flex;
    flex-flow: nowrap;
}

@media (max-width: 400px) {
    .table-header {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
}

