#nav-logo {
    width: 15%;
    max-width: 160px;
    min-width: 130px;
}

.welcome {
    text-align: right;
}

.welcome h6 {
    font-weight: 600;
    margin: 0;
    color: #FF7E3D;
    color: #ff9b6a
}

.welcome p {
    font-style: italic;
    font-size: 13px;
    color: grey;
    margin: 0
}

.css-8je8zh-MuiTouchRipple-root {
    color: #fff !important;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - 240px);
    background-color: #fff;
    padding: 15px;
}

footer p {
    text-align: center;
    font-size: 11px;
    color: rgb(80, 80, 80);
    margin-bottom: 0;
}

.menu-route {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

@media (max-width: 599px) {
    .welcome {
        display: none;
    }
}

