.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1300;
}

.modal-header, .modal-footer {
    border-top: none;
    border-bottom: none;
}

.modal-content {
    width: 75%;
    max-width: 1000px;
    background-color: #fff;
    border: none;
    box-shadow: 0px 10px 25px 4px rgba(0,0,0,0.25);
    max-height: 100vh;
    overflow: scroll;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 2em;
}

.modal-footer {
    gap: 1em;

}

.modal-button {
    background-color: #fff;
    border: none;
    color: #FF7E3D;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: 800;
    letter-spacing: .05em;
    cursor: pointer;
    transition: 500ms;
}

.modal-button:hover {
    background-color: #ffe3d5;
    transition: 500ms;
}

.modal-button:active {
    background-color: #c0c0c0;
    color: #fff;
    transition: 500ms;
} 

.modal-save {
    color: #fff;
    background-color: #FF7E3D;
}

.modal-save:hover {
    background-color: #ffc6a9;
}

/*********** Add Passenger ***********/

#add-passenger {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.25em;
}

#add-passenger label:not(.seat-option) {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #4b4b4b;
}

#add-passenger input[type=text], #add-passenger input[type=date], #add-passenger select, #add-passenger textarea {
    width: 100%;
}

.required::after {
    content: "*";
    color: red;
    margin-left: 2px
}

#add-passenger .name {
    grid-column: span 2;
}

#add-passenger .role, #add-passenger .contact, #add-passenger .details, #add-passenger .numbers {
    grid-column: span 3;
}

#add-passenger .seats {
    grid-column: span 6;
}

#add-passenger .notes {
    grid-column: span 6;
}

#add-passenger .seat-options {
    display: flex;
    justify-content: space-around;
}

#add-passenger .seat-options .seat-wrapper {
    display: flex;
    gap: .5em;
    align-items: center;
}

#passenger-add-error {
    grid-column: span 6;
    width: 100%;
}

@media (max-width: 599px) {
    .name, .role, .contact, .details, .numbers {
        grid-column: span 6;
    }

    .modal-content {
        width: 90%;
    }
}

/*********** View Passenger ***********/

.view-edit-passenger h6 {
    margin: 0;
}

#passenger-details {
    display: flex;
    justify-content: space-between;
}

#passenger-details .role, #passenger-details .contact {
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 1.75em;
}

.detail-label {
    text-align: left;
    font-weight: 600;
    margin: 0;
    white-space: nowrap
}

.detail-value {
    white-space: nowrap
}

.travel-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.75em;
}

#passenger-details, #traveller-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
}

@media (max-width: 800px) {
    #passenger-details, #traveller-details {
        grid-template-columns: 1fr;
    }

    #passenger-details .role, #passenger-details .contact {
        grid-template-columns: 1fr 1fr;
    }

    .modal-body.view-edit-body {
        font-size: .75em;
    }
}
