/*--------------------
Boarding Pass
--------------------*/
.boarding-pass {
  position: relative;
  width: 350px;
  height: auto;
  background: #fff;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 12px;
box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  text-transform: uppercase;

  /*--------------------
  Strap
  --------------------*/
}
.boarding-pass small {
  display: block;
  font-size: 11px;
  color: #a2a9b3;
  margin-bottom: 2px;
}
.boarding-pass strong {
  font-size: 15px;
  display: block;
}

/*--------------------
  Header
  --------------------*/
.boarding-pass header {
  background-color: #FF7E3D;
  padding: 12px 20px;
  height: 53px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boarding-pass header .passenger {
  float: left;
  color: #fff;
  text-align: left;
}

.boarding-pass header .flight {
  float: right;
  color: #fff;
  text-align: right;
}
.boarding-pass header .flight small, .boarding-pass header .passenger small {
  font-size: 8px;
  margin-bottom: 2px;
  opacity: 0.8;
  color: #fff;
}
.boarding-pass header .flight strong, .boarding-pass header .passenger strong {
  font-size: 18px;
}

/*--------------------
  Cities
  --------------------*/

.boarding-pass .cities {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boarding-pass .cities .city {
  padding: 20px;
}

.boarding-pass .cities .city strong {
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
}
.boarding-pass .cities .city small {
  margin-bottom: 0px;
  margin-left: 3px;
}


  
  /*--------------------
  Infos
  --------------------*/

.boarding-pass .infos {
  display: flex;
  border-top: 1px solid grey;
}
.boarding-pass .infos .details,
.boarding-pass .infos .times {
  width: 50%;
  padding: 10px 0;
}

.boarding-pass .infos .details {
  background: #ff7e3d44;
  border-right: 1px solid grey;
}
.boarding-pass .infos .details small {
  color: #97a1ad;
}

.boarding-pass .infos .box {
  padding: 10px 20px 10px;
  width: 47%;
  float: left;
}
.boarding-pass .infos .box small {
  font-size: 10px;
}
.boarding-pass .strap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;
}

.boarding-pass .strap .box {
  padding: 23px 0 20px 20px;
}
.boarding-pass .strap .box div {
  margin-bottom: 15px;
}
.boarding-pass .strap .box div small {
  font-size: 10px;
}
.boarding-pass .strap .box div strong {
  font-size: 13px;
}
.boarding-pass .strap .box sup {
  font-size: 8px;
  position: relative;
  top: -5px;
}

.alice-carousel__next-btn-item, .alice-carousel__prev-btn-item {
    color: grey !important;
}

.alice-carousel__next-btn-item:hover, .alice-carousel__prev-btn-item:hover {
    color: #FF7E3D !important;
}

.alice-carousel__next-btn-item.__inactive, .alice-carousel__prev-btn-item.__inactive {
    display: none;
}